@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h1 > a {
  font-size: 2em;
}

h2,
h2 > a {
  font-size: 1.74em;
}

h3,
h3 > a {
  font-size: 1.52em;
}

h4,
h4 > a {
  font-size: 1.32em;
}

h5,
h5 > a {
  font-size: 1.15em;
}

h6,
h6 > a {
  font-size: 1em;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-size: 1.125rem;
  overflow-y: scroll;
}

[role='radiogroup'] {
  padding: 0;
  margin: 0;
  list-style: none;
}

[role='radio'] {
  padding: 4px 8px;
  border: 0 solid transparent;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  cursor: default;
  color: black;
}

[role='radio']::before {
  position: relative;
  top: 1px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='14' width='14' style='forced-color-adjust: auto;'%3E%3Ccircle cx='7' cy='7' r='6' stroke='rgb(0, 90, 156)' stroke-width='2' fill-opacity='0' /%3E%3C/svg%3E");
}

[role='radio'][aria-checked='true']::before {
  position: relative;
  top: 1px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='14' width='14' style='forced-color-adjust: auto;'%3E%3Ccircle cx='7' cy='7' r='6' stroke='rgb(0, 90, 156)' stroke-width='2' fill-opacity='0' /%3E%3Ccircle cx='7' cy='7' r='3' fill='rgb(0, 90, 156)' stroke-opacity='0' /%3E%3C/svg%3E");
}

[role='radio'].focus,
[role='radio']:hover {
  padding: 2px 6px;
  border: 2px solid #005a9c;
  background-color: #def;
  cursor: pointer;
}
